@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

/* Estilos para la página de Login */
.login {
  margin-top: 5rem;

  /* Logo de UpTask */
  .uptask {
    background: linear-gradient(
      to right,
      v.$cyan 0%,
      color.scale(v.$morado, $lightness: 30%) 100%
    );

    color: transparent;
    background-clip: text;
    font-size: 7rem;
    text-align: center;

    @include m.tablet {
      font-size: 10rem;
    }
  }

  /* Estilos para el botón de submit */
  input[type="submit"] {
    @include m.boton(v.$cyan, v.$blanco);

    &:hover {
      background-color: color.scale(v.$morado, $lightness: 10%);
    }

    &:focus {
      background-color: color.scale(v.$morado, $lightness: 10%);
    }
  }

  /* Estilo para los enlaces de acciones */
  .acciones {
    a {
      color: v.$cyan;
    }
  }
}
